*
{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.div1
{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cal
{
    background: gray;
    padding: 20px;
    border-radius: 10px;
    border: 1px red solid;
}
.cal form input
{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255,255, 0.1), 5px 5px 13px rgba(0, 0,0, 0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
    /* border: 1px aqua solid; */
}
form #display
{
    display: flex;
    justify-content: flex-end;
    margin: right;
    border-radius: 50px 10px 30px 2px;
    border:aqua 1px ridge;
    background-color: antiquewhite;
}
form #display input
{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
#inp
{
    background-color:orange;
    width:140px ;
    color: white;
    font-size: 30px;
}
#operator
{
    color:aqua;
}